*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans',sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: rgb(63,94,251);;
    background-image: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,227,1) 50%);;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
}

#navbar_logo:hover{
    transform: scale(1.2);

}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style-type: none;

}

.navbar_item{
    height: 80px;
}

.navbar_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    color: #fff;
    height: 100%;  /*100% height of the navbar-item container*/
    transition: all 0.3s ease;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
transition: all 0.3s ease;
}


.navbar_link:hover{
    color: #9518fc;
    transition: all 0.3s ease;
}